extends layout

block content
  h1= title

  form(action='/uploadPdf/#{company}', method='post', enctype='multipart/form-data')
    input(type='file', name='toAdd' accept=".pdf,.PDF,.Pdf")
    input(type='submit')

  hr

  each pdf in pdfs
    ul
      li 
        a(href="/pdf/#{company}/#{pdf}") #{pdf}